<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
    
    <head>
        <style type="text/css">
        table {color:#FDD017}
    </style>
    </head>
    
<body bgcolor=#151B54>
    
    <center>
    <table>
        <tr>
            <td><a href="http://snoopy.cse.nd.edu/ndmesh/cam.html" target=main><img alt="172.30.100.41 -no image available" title="172.30.100.41" src=http://snoopy.cse.nd.edu/cgi-bin/ndMeshScripts/command.cgi?command=/SnapshotJPEG?Resolution=320x240&gwaddress=129.74.152.233&ngwaddress=172.30.100.41></a></td>
            <td><a href="http://snoopy.cse.nd.edu/ndmesh/cam.html" target=main><img alt="172.30.100.4 -no image available" title="172.30.100.4" src=http://snoopy.cse.nd.edu/cgi-bin/ndMeshScripts/command.cgi?command=/SnapshotJPEG?Resolution=320x240&gwaddress=129.74.152.236&ngwaddress=172.30.100.4></a></td>
        </tr>
    </table>
    </center>
    
    
    <!--<a href="http://snoopy.cse.nd.edu/ndmesh/cam.html" target=main><img alt="172.30.100.41" title="172.30.100.41" src=http://snoopy.cse.nd.edu/cgi-bin/ndMeshScripts/command.cgi?command=/SnapshotJPEG?Resolution=320x240&gwaddress=129.74.152.233&ngwaddress=172.30.100.41></a>-->
    <!--<video src=http://snoopy.cse.nd.edu/cgi-bin/ndMeshScripts/command.cgi?command=/nphMotionJpeg?Resolution=320x240?Resolution=320x240&gwaddress=129.74.152.233&ngwaddress=172.30.100.41>-->
    <!--    adfa-->
    <!--</video>-->

    
</body>
</html>
