<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <title>template test</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        
<script type="text/javascript"> 
document.onkeyup = KeyCheck;       
 
function KeyCheck(e)
{
   var KeyID = (window.event) ? event.keyCode : e.keyCode;
 
   switch(KeyID)
   {
 
      case 37:
      document.Form1.command.value = "/nphControlCamera?Direction=PanLeft";
      document.Form1.submit();
      break;
 
      case 38:
      document.Form1.command.value = "/nphControlCamera?Direction=TiltUp";
      document.Form1.submit();
      break;
 
      case 39:
      document.Form1.command.value = "/nphControlCamera?Direction=PanRight";
      document.Form1.submit();
      break;
 
      case 40:
      document.Form1.command.value = "/nphControlCamera?Direction=TiltDown";
      document.Form1.submit();
      break;
   }
}
</script> 

</head>

<body bgcolor=#151B54>
    
    <form name=Form1 action=http://snoopy.cse.nd.edu/cgi-bin/ndMeshScripts/command.cgi target="dummy">
        
        <input type=hidden name=command value="" />
        <input type=hidden name=gwaddress value="<TMPL_VAR NAME=gwaddr>"></input>
        <input type=hidden name=ngwaddress value="<TMPL_VAR NAME=ngwaddr>"></input>
    </form>

<TMPL_IF NAME="confirm">

    
    <a href=http://snoopy.cse.nd.edu/cgi-bin/ndMeshScripts/command.cgi?command=/nphMotionJpeg?Resolution=640x480&gwaddress=<TMPL_VAR NAME="gwaddr">&ngwaddress=<TMPL_VAR NAME="ngwaddr"> target="showframe">Video Stream</a>
    <br>
    <a href=http://snoopy.cse.nd.edu/cgi-bin/ndMeshScripts/command.cgi?command=/SnapshotJPEG?Resolution=640x480&gwaddress=<TMPL_VAR NAME="gwaddr">&ngwaddress=<TMPL_VAR NAME="ngwaddr"> target="showframe">Stop Video Stream</a>
    <br>
    <br>
    <a href=http://snoopy.cse.nd.edu/cgi-bin/ndMeshScripts/command.cgi?command=/nphControlCamera?Direction=HomePosition&gwaddress=<TMPL_VAR NAME="gwaddr">&ngwaddress=<TMPL_VAR NAME="ngwaddr"> target="dummy">Home Position</a>
    <br><br>
    
    <!--<a href=http://snoopy.cse.nd.edu/cgi-bin/ndMeshScripts/nphControl.cgi?Direction=PanLeft target="dummy">Pan Left</a>-->
    <!--<br>-->
    <!--<a href=http://snoopy.cse.nd.edu/cgi-bin/ndMeshScripts/nphControl.cgi?Direction=PanRight target="dummy">Pan Right</a>-->
    <!--<br>-->
    <!--<a href=http://snoopy.cse.nd.edu/cgi-bin/ndMeshScripts/nphControl.cgi?Direction=PanScan target="dummy">Pan Scan</a>-->
    <!--<br><br>-->
    <!--<a href=http://snoopy.cse.nd.edu/cgi-bin/ndMeshScripts/nphControl.cgi?Direction=TiltUp target="dummy">Tilt Up</a>-->
    <!--<br>-->
    <!--<a href=http://snoopy.cse.nd.edu/cgi-bin/ndMeshScripts/nphControl.cgi?Direction=TiltDown target="dummy">Tilt Down</a>-->
    <!--<br>-->
    <!--<a href=http://snoopy.cse.nd.edu/cgi-bin/ndMeshScripts/nphControl.cgi?Direction=TiltScan target="dummy">Tilt Scan</a>-->
    <!---->
    <!--<br><br>-->
    <!--<a href=http://snoopy.cse.nd.edu/cgi-bin/ndMeshScripts/nphControl.cgi?Direction=BacklightOn target="dummy">Backlight On</a>-->
    <!--<br>-->
    <!--<a href=http://snoopy.cse.nd.edu/cgi-bin/ndMeshScripts/nphControl.cgi?Direction=BacklightOff target="dummy">Backlight Off</a>-->
    <!--<br>-->
    <!--<a href=http://snoopy.cse.nd.edu/cgi-bin/ndMeshScripts/nphControl.cgi?Direction=Brighter target="dummy">Brighter</a>-->
    <!--<br>-->
    <!--<a href=http://snoopy.cse.nd.edu/cgi-bin/ndMeshScripts/nphControl.cgi?Direction=Darker target="dummy">Darker</a>-->
    <!--<br>-->
    <!--<a href=http://snoopy.cse.nd.edu/cgi-bin/ndMeshScripts/nphControl.cgi?Direction=DefaultBrightness target="dummy">Default Brightness</a>-->


<TMPL_ELSE>
    <h2 align="center">Simple Camera controls<br>default cam</h2>
    <!--<a href=http://169.254.255.253/Set?Func=Pan&Kind=0&DegMode=4>PAN LEFT</a>-->
    <!--<a href=http://169.254.255.253/Set?Func=Pan&Kind=0&DegMode=6>PAN RIGHT</a>-->
    <!--<a href=http://169.254.255.253/Set?Func=Pan&Kind=0&DegMode=4>PAN
    LEFT</a>-->
    <!--a href=http://snoopy.cse.nd.edu/cgi-bin/ndMeshScripts/moveLeft.cgi target="dummy">move left</a>
    <br>
    <a href=http://snoopy.cse.nd.edu/cgi-bin/ndMeshScripts/moveRight.cgi target="showframe">move right</a!-->
    <a href=http://snoopy.cse.nd.edu/cgi-bin/ndMeshScripts/newClient.cgi target="showframe">Video Stream</a>
    <br>
    <br>
    <a href=http://snoopy.cse.nd.edu/cgi-bin/ndMeshScripts/nphControl.cgi?Direction=HomePosition target="dummy">Home Position</a>
    <br><br>
    <a href=http://snoopy.cse.nd.edu/cgi-bin/ndMeshScripts/nphControl.cgi?Direction=PanLeft target="dummy">Pan Left</a>
    <br>
    <a href=http://snoopy.cse.nd.edu/cgi-bin/ndMeshScripts/nphControl.cgi?Direction=PanRight target="dummy">Pan Right</a>
    <br>
    <a href=http://snoopy.cse.nd.edu/cgi-bin/ndMeshScripts/nphControl.cgi?Direction=PanScan target="dummy">Pan Scan</a>
    <br><br>
    <a href=http://snoopy.cse.nd.edu/cgi-bin/ndMeshScripts/nphControl.cgi?Direction=TiltUp target="dummy">Tilt Up</a>
    <br>
    <a href=http://snoopy.cse.nd.edu/cgi-bin/ndMeshScripts/nphControl.cgi?Direction=TiltDown target="dummy">Tilt Down</a>
    <br>
    <a href=http://snoopy.cse.nd.edu/cgi-bin/ndMeshScripts/nphControl.cgi?Direction=TiltScan target="dummy">Tilt Scan</a>
    
    <br><br>
    <a href=http://snoopy.cse.nd.edu/cgi-bin/ndMeshScripts/nphControl.cgi?Direction=BacklightOn target="dummy">Backlight On</a>
    <br>
    <a href=http://snoopy.cse.nd.edu/cgi-bin/ndMeshScripts/nphControl.cgi?Direction=BacklightOff target="dummy">Backlight Off</a>
    <br>
    <a href=http://snoopy.cse.nd.edu/cgi-bin/ndMeshScripts/nphControl.cgi?Direction=Brighter target="dummy">Brighter</a>
    <br>
    <a href=http://snoopy.cse.nd.edu/cgi-bin/ndMeshScripts/nphControl.cgi?Direction=Darker target="dummy">Darker</a>
    <br>
    <a href=http://snoopy.cse.nd.edu/cgi-bin/ndMeshScripts/nphControl.cgi?Direction=DefaultBrightness target="dummy">Default Brightness</a>
</TMPL_IF>

</body>

</html>
